* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #333333;
  font-family: 'Mulish', sans-serif;
  background-color: #F5FAFE;
}

.container {
  max-width: 1110px;
  margin: auto;
}

img {
  max-width: 100%;
}

.input {
  outline: none;
  background-color: #ffffff;
  border-radius: 4px;
  border: none;
  padding: 0 23px;
  height: 50px;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.message {
  resize: none;
  background-color: #ffffff;
  border-radius: 4px;
  border: none;
  padding: 18px 23px;
  min-height: 125px;
  outline: none;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.button {
  min-width: 160px;
  min-height: 50px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  border: none;
  color: #ffffff;
  border-radius: 4px;
  background-color: #EC1F46;
  -webkit-transition: 1s background-color;
  transition: 1s background-color;
}

#subscribe-error {
  font-size: 12px;
  color: #EC1F46;
  position: absolute;
  bottom: 1px;
  left: 4px;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.navbar {
  background-color: #ffffff;
}

.navbar-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0 39px;
}

.navbar-top__menu-button {
  display: none;
}

.navbar__search {
  margin-right: auto;
  margin-left: 108px;
}

.navbar-menu {
  background-color: #0A223D;
  padding: 30px 0 31px;
}

.navbar-menu__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-menu__link {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.navbar-menu__item--mobile-visible {
  display: none;
}

.logo {
  width: 177px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  height: 40px;
}

.search__input {
  width: 350px;
  height: 100%;
  padding: 0 70px 0 23px;
  background-color: #F5FAFE;
  border: none;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
}

.search__button {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  width: 65px;
  height: 100%;
  background-color: #EC1F46;
  border: none;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.user__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.user__name {
  margin-left: 18px;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.breadcrumb-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding: 18px 0 19px;
  margin: 0;
}

.breadcrumb-list__item {
  font-size: 10px;
  line-height: 13px;
}

.breadcrumb-list__item:not(:last-child)::after {
  content: '/';
  margin-right: 4px;
}

.breadcrumb-list__link {
  color: inherit;
  text-decoration: none;
}

.hotel {
  padding-top: 19px;
  padding-bottom: 70px;
}

.hotel-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 19px;
}

.hotel-info__offer {
  margin-left: 14px;
  margin-top: 4px;
}

.hotel-info__name {
  margin-top: 2px;
  margin-bottom: 0;
}

.hotel-info__description {
  margin: 0;
  font-size: 12px;
  line-height: 15px;
}

.hotel-info__stars {
  font-size: 8px;
  margin-top: 4px;
}

.hotel-info__thank {
  margin: 50px 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hotel__back {
  padding: 20px 40px;
  background-color: #EC1F46;
  color: #ffffff;
  text-decoration: none;
  margin-top: 15px;
  border-radius: 8px;
  text-transform: uppercase;
  -webkit-box-flex: start;
      -ms-flex: start;
          flex: start;
}

.hotel__thank {
  padding: 0;
}

.hotel-name {
  font-size: 24px;
  line-height: 30px;
}

.hotel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotel-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotel-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotel-slider {
  max-width: 728px;
  height: 450px;
}

.hotel-slider__item {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.hotel-slider__item::after {
  content: '';
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 122, 223, 0.48)), to(rgba(255, 255, 255, 0.128)));
  background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
}

.hotel-slider__button {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  z-index: 99;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  background-color: transparent;
}

.hotel-slider__button--right {
  right: 18px;
  background-image: url(../img/arrow-right.svg);
}

.hotel-slider__button--left {
  left: 18px;
  background-image: url(../img/arrow-left.svg);
}

.hotel .swiper {
  margin-left: 0;
}

.stars {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.offer {
  font-size: 10px;
  line-height: 13px;
  padding: 4px 9px;
  background-color: #EC1F46;
  border-radius: 3px;
  color: #ffffff;
}

.rating {
  max-width: 65px;
  min-height: 45px;
  text-align: center;
  color: #ffffff;
  background-color: #EC1F46;
  border-radius: 4px;
}

.rating__text {
  font-size: 8px;
  line-height: 10px;
  font-weight: 600;
}

.rating__counter {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.booking {
  border-radius: 8px;
  width: 350px;
  min-height: 210px;
  padding: 28px 29px 26px 26px;
  background-color: #0A223D;
  color: #ffffff;
}

.booking__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 9px;
}

.booking__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.booking__start {
  font-size: 10px;
  line-height: 14px;
  font-family: Nunito;
}

.booking__pricetag {
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}

.booking__per-room {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 13px;
}

.booking__text {
  padding: 4px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.booking__description {
  margin-left: 9px;
  font-family: Nunito;
  font-size: 12px;
  line-height: 16px;
}

.booking__call-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 17px;
}

.booking__heading {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.booking__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: inherit;
}

.booking__num {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-left: 8px;
}

.booking__button {
  width: 100%;
  min-height: 45px;
  background-color: #EC1F46;
  font-family: Nunito;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.map {
  width: 347px;
  height: 213px;
  border-radius: 10px;
  overflow: hidden;
}

iframe {
  width: 100%;
  height: 100%;
}

.packages {
  padding-top: 40px;
  padding-bottom: 70px;
}

.packages-list {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(455px, -webkit-max-content);
  grid-auto-rows: minmax(455px, max-content);
}

.packages__title {
  margin-top: 0;
  margin-bottom: 65px;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.packages__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 350px;
  height: 500px;
  background-color: #0A223D;
  border-radius: 8px;
  overflow: hidden;
}

.packages__item--popular {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 730px;
}

.item__offer {
  position: absolute;
  left: 0;
  top: 26px;
  padding: 4px 10px 4px 9px;
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
}

.item__offer--popular {
  padding: 8px 22px 7px 11px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}

.item__stars {
  font-size: 8px;
}

.item__picture {
  width: 100%;
  height: 250px;
}

.item__picture--popular {
  width: 50%;
  height: 100%;
}

.item__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item__info {
  width: 100%;
  padding: 25px 20px 20px 31px;
}

.item__info--popular {
  width: 50%;
  padding: 46px 21px 30px 44px;
}

.item__title {
  margin-top: 5px;
  margin-bottom: 23px;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.item__title--popular {
  margin-bottom: 27px;
}

.item__description {
  margin-bottom: 43px;
  font-size: 14px;
  line-height: 160.6%;
  color: #ffffff;
}

.item__parameters {
  margin: 0 0 24px 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  list-style: none;
}

.item__parameters--popular {
  margin-bottom: 36px;
}

.item__booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item__price {
  margin: 0 0 5px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.item__price--popular {
  margin: 2px 3px 5px;
}

.item__book {
  margin: 0;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  padding: 11px 27px 10px 26px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  background-color: #EC1F46;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
}

.item__book--popular {
  margin-right: 0;
}

.parameters__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}

.parameters__item:not(:last-child) {
  margin-bottom: 11px;
}

.parameters__description {
  margin-left: 14px;
}

.price__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price__value--old {
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-decoration: line-through;
}

.newsletter {
  padding: 98px 0 87px 0;
  position: relative;
}

.newsletter:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 34, 61, 0.8);
}

.newsletter-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 731px;
  margin: auto;
}

.newsletter-title {
  color: #ffffff;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}

.newsletter-title__strong {
  display: block;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
}

.subscribe {
  position: relative;
  width: 350px;
  height: 55px;
  border-radius: 4px;
  overflow: hidden;
}

.subscribe__input {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 33px;
  padding-right: 110px;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}

.subscribe__button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  min-width: 65px;
  max-width: 100px;
  border: none;
  background-color: #EC1F46;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  cursor: pointer;
}

.reviews {
  padding: 40px 0 70px;
}

.reviews__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 70px;
}

.reviews-slider__item {
  position: relative;
  max-width: 730px;
  margin: 45px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 0 62px 30px;
}

.reviews-slider__item::before {
  content: '';
  position: absolute;
  top: 12px;
  left: 62px;
  background-image: url(../img/qoute-left.svg);
  background-repeat: no-repeat;
  width: 70px;
  height: 47px;
}

.reviews-slider__item::after {
  content: '';
  position: absolute;
  top: 119px;
  right: 62px;
  background-image: url(../img/qoute-right.svg);
  background-repeat: no-repeat;
  width: 70px;
  height: 47px;
}

.reviews-slider__button {
  position: absolute;
  top: 41%;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 99;
}

.reviews-slider__button--prev {
  background-image: url(../img/arrow-prev.svg);
  left: 20px;
}

.reviews-slider__button--next {
  background-image: url(../img/arrow-next.svg);
  right: 20px;
}

.reviews-slider__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -45px;
  margin-bottom: 29px;
}

.reviews-slider__avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 9px;
}

.reviews-slider__username {
  color: #EC1F46;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  margin: 0 0 10px;
}

.reviews-slider__date {
  font-size: 10px;
  line-height: 13px;
  margin-bottom: 4px;
}

.reviews-slider__text {
  font-size: 12px;
  line-height: 19px;
  text-align: justify;
  margin: auto;
  max-width: 537px;
  z-index: 1;
  word-spacing: 1px;
}

.reviews-slider__rating {
  font-size: 8px;
  text-align: center;
}

.activities {
  padding: 60px 0 98px;
}

.activities__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 57px;
}

.activities-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 255px;
  height: 255px;
  border-radius: 6px;
  overflow: hidden;
  padding: 0 26px 24px;
}

.card::before {
  content: '';
  background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.card__image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
}

.card__title {
  z-index: 1;
  margin-top: auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 18px;
  max-width: 200px;
}

.card__button {
  border-radius: 4px;
  font-family: Nunito;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  background-color: #EC1F46;
  border: none;
  padding: 7px 22px;
  cursor: pointer;
}

.footer {
  background-color: #0A223D;
  color: #ffffff;
  padding: 108px 0 46px;
}

.footer-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(min-content, 1fr))[4];
      grid-template-columns: repeat(4, minmax(-webkit-min-content, 1fr));
      grid-template-columns: repeat(4, minmax(min-content, 1fr));
  grid-gap: 20px;
  grid-auto-rows: minmax(45px, -webkit-min-content);
  grid-auto-rows: minmax(45px, min-content);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer__logo {
  width: 154px;
  min-height: 175px;
}

.footer__logo-wrap {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer__categories {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
  margin-left: 3px;
}

.footer__additional {
  margin-left: 5px;
}

.footer__legal {
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 4px;
}

.footer__social {
  margin-left: 5px;
}

.footer__social-links {
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 83px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__social-network {
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  grid-column: span 2;
}

.footer__contact-details {
  grid-column: span 2;
  margin-left: -5px;
}

.footer__contact-form {
  margin-top: -12px;
  margin-left: 6px;
  grid-column: span 2;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 539px;
}

.footer__ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin: 0 0 19px;
  text-transform: uppercase;
}

.footer__title--inline {
  margin: 0 41px 0 0;
}

.footer__title--mb-3 {
  margin-bottom: 34px;
}

.footer__title--mb-4 {
  margin-bottom: 25px;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: #BDBDBD;
}

.footer__item-link {
  text-decoration: none;
  color: inherit;
}

.footer__item--mb-2 {
  margin-bottom: 18px;
}

.footer__icon-wrapper {
  min-width: 32px;
  height: 27px;
  margin-right: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  color: #BDBDBD;
  margin: 0 0 21px;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
}

.footer__link {
  text-decoration: none;
  color: inherit;
}

.footer__input {
  width: 100%;
}

.footer__input-group {
  margin-bottom: 15px;
  width: 47%;
}

.footer__message {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 23px;
}

.footer__info {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #E0E0E0;
}

.footer-bottom {
  padding-top: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-bottom__info {
  margin-left: 410px;
  min-width: 283px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.footer-bottom__info-text {
  display: block;
  margin: 0 5px;
}

.footer-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.modal__overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 143, 223, 0.39);
  z-index: 500;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.modal__overlay--visible {
  visibility: visible;
  opacity: 1;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modal__dialog {
  overflow-y: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 478px;
  max-height: 90vh;
  z-index: 600;
  padding: 33px 88px;
  background-color: #0A223D;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
  border-radius: 8px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.modal__dialog--visible {
  visibility: visible;
  opacity: 1;
}

.modal__close {
  position: absolute;
  right: 18px;
  top: 17px;
  text-decoration: none;
  cursor: pointer;
}

.modal__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  text-align: center;
}

.modal__input {
  width: 100%;
  margin-top: 15px;
}

.modal__message {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 100%;
  min-height: 123px;
  margin-top: 15px;
}

.modal__button {
  margin-top: 15px;
}

.modal__info {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #E0E0E0;
  margin-top: 15px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .hotel-slider {
    width: 580px;
  }
  .hotel-slider__image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card {
    width: 230px;
    height: 230px;
  }
  .item__info--popular {
    padding: 30px 19px 0px 20px;
  }
  .activities {
    padding: 58px 0 52px;
  }
  .activities__title--mb-4 {
    margin-top: 0;
  }
  .footer-bottom__info {
    margin-left: 30%;
  }
}

@media (min-width: 992px) {
  .button:hover {
    background-color: #0A223D;
    outline: 2px solid #EC1F46;
  }
  .hov {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .hov:hover {
    background-color: #FF8C00;
  }
  a {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  a:hover {
    color: #FF8C00;
  }
}

.error {
  color: #EC1F46;
  font-size: 11px;
}

@media (max-width: 992px) {
  .container, .newsletter-wrapper {
    max-width: 700px;
  }
  .logo {
    width: 132px;
  }
  .navbar-top {
    padding: 30px 0 31px;
  }
  .navbar__search {
    margin-right: auto;
    margin-left: 47px;
  }
  .navbar-menu {
    padding: 18px 0 24px;
  }
  .navbar-menu__container {
    max-width: 675px;
  }
  .navbar-menu__link {
    font-size: 12px;
    line-height: 15px;
  }
  .search__input {
    width: 340px;
  }
  .hotel {
    padding-bottom: 55px;
  }
  .hotel-info__rating {
    margin-top: 4px;
  }
  .hotel-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hotel__slider {
    margin-bottom: 30px;
  }
  .hotel-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hotel-slider {
    width: 100%;
  }
  .hotel__thank {
    padding: 0;
  }
  .booking {
    width: 340px;
    padding: 29px 23px 26px 24px;
  }
  .map {
    width: 340px;
  }
  .packages {
    padding-bottom: 77px;
  }
  .packages-list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .newsletter {
    padding: 92px 0 93px;
  }
  .reviews {
    padding: 40px 0 60px;
  }
  .reviews__title {
    font-size: 30px;
    line-height: 38px;
    margin: 0 0 50px;
  }
  .reviews-slider__profile {
    margin-left: 4px;
  }
  .reviews-slider__avatar {
    margin-bottom: 9px;
  }
  .reviews-slider__item {
    max-width: 580px;
  }
  .reviews-slider__button {
    top: 45%;
  }
  .reviews-slider__button--prev {
    left: 0;
  }
  .reviews-slider__button--next {
    right: 0;
  }
  .activities {
    padding: 60px 0 52px;
  }
  .activities-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .activities__card {
    margin-bottom: 20px;
    padding: 0 27px 23px;
  }
  .card {
    width: 340px;
    height: 255px;
  }
  .footer {
    padding: 40px 0 33px;
  }
  .footer-wrapper {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
  .footer__logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    max-width: 96px;
    max-height: 107px;
  }
  .footer__logo-wrap {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .footer__titel--inline {
    margin: 0 39px 0 0;
  }
  .footer__social-network {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    grid-column: span 4;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 67px;
    margin-top: 5px;
  }
  .footer__categories {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    grid-column: span 2;
    margin-top: -8px;
  }
  .footer__additional {
    grid-column: span 2;
    margin-left: -38px;
    margin-top: -8px;
  }
  .footer__legal {
    grid-column: span 2;
    margin-right: 10px;
    margin-top: -8px;
  }
  .footer__contact-details {
    -ms-grid-row: 3;
    grid-row: 3;
    grid-column: span 5;
    margin-top: 40px;
    margin-left: 1px;
  }
  .footer__contact-form {
    -ms-grid-row: 4;
    grid-row: 4;
    grid-column: span 5;
    margin-top: 20px;
    margin-left: 0;
  }
  .footer__message {
    margin-bottom: 21px;
  }
  .footer-bottom {
    padding-top: 60px;
    padding-left: 0;
  }
  .footer-bottom__info {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
    width: 89%;
  }
  body {
    padding-top: 70px;
  }
  .navbar--fixed {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 500;
  }
  .navbar__user, .navbar__search {
    margin: 0;
  }
  .navbar__user--mobile-hidden, .navbar__search--mobile-hidden {
    display: none;
  }
  .navbar__user--mobile-visible, .navbar__search--mobile-visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar .user__name--light {
    color: #ffffff;
    margin: 10px 0 10px;
  }
  .navbar__user {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar__search--mobile-visible {
    max-width: 250px;
    margin-bottom: 19px;
  }
  .navbar-menu {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 70px;
    padding-top: 30px;
  }
  .navbar-menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-menu__item {
    margin-bottom: 20px;
  }
  .navbar-menu__item--mobile-visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-menu--visible {
    display: block;
    overflow: auto;
  }
  .menu-button {
    padding: 0;
    height: 11px;
    width: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    cursor: pointer;
    border: none;
  }
  .menu-button__line {
    width: 16px;
    height: 1px;
    background-color: #333333;
  }
  .breadcrumb-list {
    padding: 21px 0 14px;
  }
  .stars {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .hotel-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hotel-name {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .hotel-info__text {
    width: 100%;
  }
  .hotel-info__name {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .hotel-info__rating {
    display: none;
  }
  .hotel-info__offer {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-left: 0;
  }
  .hotel-info__thank {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .hotel-slider {
    height: 350px;
  }
  .hotel-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 450px;
  }
  .booking {
    width: 100%;
  }
  .booking__room {
    margin-right: -3px;
  }
  .map {
    width: 100%;
  }
  .packages__title {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 40px;
  }
  .packages-list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .packages__item {
    max-width: 100%;
    max-height: 504px;
  }
  .packages__item--popular {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .item__title--popular {
    margin-bottom: 23px;
  }
  .item__offer {
    padding: 8px 22px 7px 11px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
  }
  .item__picture {
    width: 100%;
  }
  .item__picture--popular {
    height: 250px;
  }
  .item__info {
    padding: 25px 20px 20px 31px;
  }
  .item__info--popular {
    width: 100%;
    padding: 25px 20px 20px 31px;
  }
  .item__stars {
    display: none;
  }
  .item__description {
    display: none;
  }
  .item__parameters--popular {
    margin-bottom: 24px;
  }
  .item__price--popular {
    margin-top: 0;
  }
  .newsletter-wrapper {
    max-width: 576px;
    width: 89%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .newsletter-title__strong {
    margin-bottom: 37px;
  }
  .newsletter__subscribe {
    width: 98%;
  }
  .newsletter__input {
    padding-left: 21px;
  }
  .reviews-slider__item {
    padding: 0 30px 30px;
  }
  .reviews-slider__item::after, .reviews-slider__item::before {
    display: none;
  }
  .reviews-slider__button {
    top: 30px;
  }
  .reviews-slider__button--prev {
    left: 49%;
    margin-left: -90px;
    -webkit-transform: translate(-47%, 0px);
            transform: translate(-47%, 0px);
  }
  .reviews-slider__button--next {
    right: 51%;
    margin-right: -90px;
    -webkit-transform: translate(53%, 0px);
            transform: translate(53%, 0px);
  }
  .reviews-slider__text {
    text-align: start;
    word-spacing: 0;
  }
  .card {
    width: 48%;
    height: 255px;
  }
  .activities__card--corner {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .activities__card--hiking {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 28px;
  }
  .activities__card--golf {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .activities__card--discovery {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .footer-group {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__input-group {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .footer__titel--inline {
    margin: 0 39px 0 0;
  }
  .footer__additional {
    margin-left: 0;
  }
  .footer__legal {
    margin-left: 20px;
    margin-right: 0;
  }
  .footer__social-network {
    margin-left: 20px;
  }
  .modal__dialog {
    width: 87%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 89%;
  }
  .logo {
    max-width: 99px;
  }
  .hotel {
    padding-top: 5px;
    padding-bottom: 40px;
  }
  .hotel__thank {
    padding: 0;
  }
  .hotel-grid {
    padding-top: 18px;
  }
  .hotel-slider {
    height: 280px;
  }
  .hotel-slider__button {
    width: 12px;
    height: 12px;
    background-size: 4px;
  }
  .hotel-slider__button--right {
    right: 6px;
  }
  .hotel-slider__button--left {
    left: 6px;
  }
  .hotel__slider {
    margin-bottom: 20px;
  }
  .reviews-slider__profile {
    margin-left: 0px;
  }
  .reviews-slider__item {
    padding: 0 30px 36px;
  }
  .navbar-top {
    padding: 26px 0;
  }
  .packages__title {
    font-size: 22px;
    line-height: 24px;
  }
  .item__picture {
    height: 195px;
  }
  .item__info--popular {
    padding: 30px 20px 25px 32px;
  }
  .item__booking {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .item__book {
    width: 100%;
  }
  .activities {
    padding: 40px 0;
  }
  .activities__title {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 36px;
  }
  .card {
    width: 100%;
  }
  .footer-wrapper {
    grid-gap: 30px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer__logo {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    min-height: 169px;
    width: 93px;
  }
  .footer__title--fz-15 {
    margin: 0 0 16px;
  }
  .footer__title--mb-3 {
    margin-bottom: 15px;
  }
  .footer__title--mb-4 {
    margin-bottom: 23px;
  }
  .footer__title--mb-16 {
    margin: 0 0 16px;
  }
  .footer__social-network {
    margin-left: 0px;
    margin-top: -22px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .footer__social-links {
    margin-left: 3px;
  }
  .footer__additional {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 1;
    grid-column: 1;
    margin-bottom: 2px;
  }
  .footer__categories {
    -ms-grid-row: 5;
    grid-row: 5;
    -ms-grid-column: 1;
    grid-column: 1;
    margin: 0;
    margin-top: -2px;
    margin-bottom: -31px;
  }
  .footer__legal {
    margin: 0;
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-column-align: start;
        justify-self: start;
    margin-bottom: 8px;
  }
  .footer__contact-details {
    -ms-grid-row: 6;
    grid-row: 6;
    -ms-grid-column: 1;
    grid-column: 1;
    margin-top: 42px;
  }
  .footer__contact-form {
    -ms-grid-row: 7;
    grid-row: 7;
    -ms-grid-column: 1;
    grid-column: 1;
    margin-top: 8px;
  }
  .footer__item--mb-2 {
    margin-left: -4px;
    margin-bottom: 20px;
  }
  .footer__icon-wrapper {
    margin-right: 2px;
  }
  .footer__message {
    margin-bottom: 15px;
    min-height: 123px;
  }
  .footer-bottom__info-text {
    margin: 0px 8px 0px 0px;
  }
}

@media (max-width: 480px) {
  .map {
    height: 180px;
  }
  .hotel-right {
    min-height: 415px;
  }
  .hotel-slider {
    height: 250px;
  }
  .booking {
    padding: 29px 24px 26px 23px;
  }
  .newsletter {
    padding: 73px 0 83px;
  }
  .newsletter-title {
    max-width: 100%;
    margin: 0;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
  }
  .newsletter-title__strong {
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
  }
  .subscribe {
    width: 98%;
  }
  .subscribe__input {
    padding-left: 21px;
  }
  .reviews {
    padding-bottom: 50px;
  }
  .reviews__title {
    font-size: 18px;
    line-height: 23px;
    margin: 0 41px 43px 37px;
  }
  .reviews-slider__profile {
    margin-left: -6px;
  }
  .activities__card {
    padding: 0px 24px 23px;
  }
  .footer__button {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer__info {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 15px;
  }
  .footer-bottom {
    padding-top: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
  }
  .modal__form-bottom {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .modal__form-text {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 15px;
  }
  .modal__btn {
    width: 100%;
  }
  .modal__button {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .modal__info {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 15px;
  }
}

@media (max-width: 325px) {
  .container {
    width: 280px;
  }
  .hotel-info__stars {
    margin: 7px 16px 0 0;
  }
  .hotel-slider {
    height: 179px;
  }
  .hotel__slider {
    margin-bottom: 20px;
  }
}
