@media (max-width: 1200px)
  .container
    max-width: 960px
@media (max-width: 992px)
  .container
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding: 30px 0
    &__search
      margin-right: auto
      margin-left: 47px
    &-menu
      padding: 22px 0
      &__container
        max-width: 675px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
@media (max-width: 768px)
  .container
    max-width: 576px
    width: 89%
  .navbar
    &__search, &-menu, &__user
      display: none
  .menu
    &-button
      padding: 0
      height: 11px
      width: 16px
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      cursor: pointer
      border: none
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto
  .hotel
    &-wrapper
      justify-content: space-between
    &-name
      flex-basis: 100%
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
@media (max-width: 576px)
  .container
    width: 89%
  .logo
    max-width: 99px
  .hotel
    padding-top: 5px
    padding-bottom: 40px
  .navbar
    &-top
      padding: 26px 0

@media (max-width: 325px)
  .container
    width: 280px
  .hotel
    &-info
      &__wrapper
        position: relative
      &__stars
        position: absolute
        top: 4px
        right: 5%
