@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 580px
  .hotel
    &-slider
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .item
    &__info
      &--popular
        padding: 30px 19px 0px 20px
  .activities
    padding: 58px 0 52px
    &__title
      &--mb-4
        margin-top: 0
@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding: 30px 0
    &__search
      margin-right: auto
      margin-left: 47px
    &-menu
      padding: 22px 0
      &__container
        max-width: 675px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 55px
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .booking
    width: 340px
  .map
    width: 340px
  .packages
    &-list
      grid-template-columns: 1fr 1fr
  .newslatter
    padding: 94px 0 87px 0
  .reviews
    padding: 40px 0 60px
    &__title
      font-size: 30px
      line-height: 38px
      margin: 0 0 53px
    &-slider
      &__item
        max-width: 580px
  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 255px
  .footer
    padding: 40px 0 33px
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-gap: 20px
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
      max-width: 96px
      max-height: 107px
      &-wrap
        grid-row: 1 / 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2/3
      grid-column: span 2
    &__additional
      grid-column: span 2
    &__legal
      grid-column: span 2
    &__contact
      &-details
        grid-row: 3
        grid-column: span 5
      &-form
        grid-row: 4
        grid-column: span 5
    &-bottom
      padding-left: 0
@media (max-width: 768px)
  .container
    max-width: 576px
    width: 89%
  body
    padding-top: 70px
  .navbar
    &--fixed
      position: fixed
      left: 0
      top: 0
      right: 0
      z-index: 1000
    
    &__user, &__search
      margin: 0
      &--mobile
        &-hidden
          display: none
        &-visible
          display: flex
    .user
      &__name
        &--light
          color: $light
          margin: 10px 0 10px
    &__user
      flex-direction: column
      justify-content: center
    &__search
        &--mobile
          &-visible
            // flex-basis: 90%
            max-width: 250px
            margin-bottom: 19px
    &-menu
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 70px
      padding-top: 30px
      &__list
        flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobile
          &-visible
            
            display: flex
      &--visible
        display: block
        overflow: auto
  .menu
    &-button
      padding: 0
      height: 11px
      width: 16px
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      cursor: pointer
      border: none
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .breadcrumb
    &-list
      padding: 21px 0 14px
  .stars
    flex-basis: auto
  .hotel
    &-wrapper
      justify-content: space-between
    &-name
      flex-basis: 100%
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-slider
      height: 350px
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
  .packages
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 40px
    &-list
      grid-template-columns: 1fr
    &__item
      max-width: 100%
      max-height: 504px
      &--popular
        flex-direction: column
        grid-column: 1
  .item
    &__title
      &--popular
        margin-bottom: 23px
    &__offer
      padding: 8px 22px 7px 11px
      font-weight: 600
      font-size: 12px
      line-height: 15px
    &__picture
      width: 100%
      &--popular
        height: 250px
    &__info
      padding: 25px 20px 20px 31px
      &--popular
        width: 100%
        padding: 25px 20px 20px 31px
    &__stars
      display: none
    &__description
      display: none
    &__parameters
      &--popular
        margin-bottom: 24px
    &__price
      &--popular
        margin-top: 0
  .newsletter
    &-wrapper
      max-width: 576px
      width: 89%
      flex-direction: column
      align-items: flex-start
    &-title
      &__strong
        margin-bottom: 37px
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
      &__button
        top: 30px
        &--prev
          left: 50%
          margin-left: -90px
          transform: translate(-50%, 0px)
        &--next
          right: 50%
          margin-right: -90px
          transform: translate(50%, 0px)
      &__text
        text-align: start
        word-spacing: 0
  .card
    width: 48%
    height: 255px
  .footer
    &__input
      flex-basis: 100%
@media (max-width: 576px)
  .container
    width: 89%
  .logo
    max-width: 99px
  .hotel
    padding-top: 5px
    padding-bottom: 40px
    &-grid
      padding-top: 18px
    &-slider
      height: 280px
      &__button
        width: 12px
        height: 12px
        background-size: 4px
        &--right
          right: 6px
        &--left
          left: 6px
    &__slider
      margin-bottom: 20px
  .navbar
    &-top
      padding: 26px 0
  .packages
    &__title
      font-size: 22px
      line-height: 24px
  .item
    &__picture
      height: 195px
    &__info
      &--popular
        padding: 30px 20px 25px 32px
    &__booking
      flex-wrap: wrap
    &__book
      width: 100%
  .activities
    padding: 40px 0
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
  .card
    width: 100%
  .footer
    &-wrapper
      grid-gap: 30px
      grid-template-columns: 1fr
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        flex-wrap: wrap
        gap: 20px
        grid-row: 2
        grid-column: 1
    &__additional
      grid-row: 4
      grid-column: 1
    &__categories
      grid-row: 5
      grid-column: 1
    &__legal
      grid-row: 3
      grid-column: 1
      justify-self: start
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
@media (max-width: 480px)

  .map
    height: 180px
  .hotel
    &-right
      min-height: 415px
    &-slider
      height: 250px
  .newsletter
    padding: 76px 0 83px
    &-title
      max-width: 100%
      margin: 0
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        font-weight: 600
        font-size: 30px
        line-height: 38px
  .subscribe
    width: 100%
  .reviews
    padding-bottom: 50px
    &__title
      font-size: 18px
      line-height: 23px
      margin: 0 40px 40px
  .footer
    &__button
      order: 2
    &__info
      flex-basis: 100%
      order: 1
      margin-bottom: 15px
    &-bottom
      padding-top: 30px
      flex-wrap: wrap
      gap: 10px

@media (max-width: 325px)
  .container
    width: 280px
  .hotel
    &-info
      &__stars
        margin: 7px 16px 0 0
    &-slider
      height: 179px
    &__slider
      margin-bottom: 20px
