@media (max-width: 1200px)
  .container
    max-width: 960px
@media (max-width: 992px)
  .container
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding: 30px 0
    &__search
      margin-right: auto
      margin-left: 47px
    &-menu
      padding: 22px 0
      &__container
        max-width: 675px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &__search, &-menu, &__user
      display: none
    .menu
      &-button
        padding: 0
        height: 11px
        width: 16px
        display: flex
        align-items: center
        justify-content: space-between
        flex-direction: column
        cursor: pointer
        border: none
        &__line
          width: 16px
          height: 1px
          background-color: $text-color
@media (max-width: 576px)
  .logo
    max-width: 99px
